/*-- scss:defaults --*/

$body-bg: #e2d3c0;
$body-color: #515151;

$code-color: #A60D42;
$code-block-bg: #ECE5DC;
$code-block-border-color: #515151;

$callout-color-note: #006E60;
$callout-color-tip: #17a2b8;
$callout-color-caution: #F9A51B;
$callout-color-warning: #C50F50;
$callout-color-important: #6CBC83;